<md-dialog id='s99-change-password-dialog' aria-label="Change Password" ng-cloak>
<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>{{$ctrl.title}}</h2>
        <span flex></span>
        <md-button id='cancel'
        class="md-icon-button"
        ng-click="$ctrl.cancel()">
            <md-icon class="material-icons">close</md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-dialog-content layout-padding>
    <form name='changePasswordForm' novalidate>
        <md-input-container class='md-block'>
            <label>舊密碼</label>
            <input type='password' name='password' ng-model='$ctrl.user.oldPassword' required/>
            <div ng-messages='changePasswordForm.password.$error'>
                <div ng-message='required'>請填入目前的密碼</div>
                <div ng-message='server'>{{$ctrl.errors.password}}</div>
            </div>
        </md-input-container>
        <md-input-container class='md-block'>
            <label>新密碼</label>
            <input type='password' name='newPassword' ng-model='$ctrl.user.newPassword' required ng-minlength="3"/>
            <div ng-messages='changePasswordForm.newPassword.$error'>
                <div ng-message='required'>請填入新密碼</div>
                <div ng-message='minlength'>密碼至少要三個字</div>
                <div ng-message='server'>{{$ctrl.errors.newPassword}}</div>
            </div>
        </md-input-container>
        <md-input-container class='md-block'>
            <label>確認新密碼</label>
            <input type='password' name='confirmPassword' ng-model='$ctrl.user.confirmPassword' required match="$ctrl.user.newPassword" />
            <div ng-messages='changePasswordForm.confirmPassword.$error'>
                <div ng-message='required'>請再次填入新密碼</div>
                <div ng-message='match'>密碼不符合</div>
            </div>
        </md-input-container>
    </form>
</md-dialog-content>
<md-dialog-actions layout="row">
    <md-button id='confirm' class='md-primary md-raised' ng-disabled='changePasswordForm.$invalid'
    ng-click='$ctrl.changePassword(changePasswordForm)'>
        確定
    </md-button>
</md-dialog-actions>
</md-dialog>
