<style type="text/css">
    .ta-editor.s99-comment-editor, .ta-scroll-window.s99-comment-editor {
        min-height: 150px;
        height: 150px;
        overflow: auto;
        font-family: inherit;
        font-size: 100%;
    }
    .s99-comment-editor > .ta-bind {
        min-height: 150px;
        padding: 6px 12px;
    }
    .ta-toolbar{
      display: none;
    }
    .ta-toolbar.focussed{
      display: block;
      margin: 10px 5px;
    }    
</style>
<form name='commentForm'>
<div class='md-whiteframe-5dp' layout-padding>
    <md-input-container class='md-block' flex>
        <label>留言</label>
        <textarea name='content' ng-model='$ctrl.comment.content' required>ＧＧＹＧＧＹＧＹ</textarea>
        <div ng-messages='commentForm.content.$error'>
            <div ng-message='required'>請填入留言內容</div>
        </div>
    </md-input-container>
    <div layout='row' layout-align='end end'>
        <md-input-container class='md-block' flex>
            <label>聯絡我</label>
            <input name='author' ng-model='$ctrl.comment.author' required></input>
            <div ng-messages='commentForm.author.$error'>
                <div ng-message='required'>請填入你的Email帳號或聯絡資料</div>
            </div>
        </md-input-container>
        <span flex></span>
        <div>
            <md-progress-circular ng-show='$ctrl.processingSubmit' class='s99-progress-circular' md-mode='indeterminate'></md-progress-circular>
        </div>
        <div>
            <md-button id='submit' class='md-primary md-raised'
            ng-disabled='commentForm.$invalid || $ctrl.processingSubmit' ng-click='$ctrl.doSubmit($ctrl.comment)'>
                送出
            </md-button>
        </div>
    </div>
</div>
</form>
