<div class="container">
    <div layout="column">
        <h1>登入</h1>
        <div>
            <form class="form" name="loginForm" ng-submit="vm.login(loginForm)" novalidate>
                <md-input-container class='md-block'>
                    <label>Email帳號</label>
                    <input type="email" name="email" ng-model="vm.user.email" required>
                    <div ng-messages='loginForm.email.$error'>
                        <div ng-message='required'>請輸入電子信箱帳號</div>
                    </div>
                </md-input-container>

                <md-input-container class='md-block'>
                    <label>密碼</label>
                    <input type="password" name="password" ng-model="vm.user.password" required>
                    <div ng-messages='loginForm.password.$error'>
                        <div ng-message='required'>請輸入密碼</div>
                    </div>
                </md-input-container>

                <div layout='row'>
                    <md-button class='md-primary' ng-href="/signup">
                        註冊
                    </md-button>
                    <span flex></span>
                    <md-button class='md-primary md-raised' ng-disabled='loginForm.$invalid' type="submit">
                        登入
                    </md-button>
                </div>

                <hr/>
                <div class="row">
                    <div class="col-sm-4 col-md-3">
                        <oauth-buttons classes="btn-block"></oauth-buttons>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
