<span>Latitude: {{$ctrl.post.latitude}}</span>
<span>Longitude: {{$ctrl.post.longitude}}</span>
<div layout='column' layout-gt-sm='row' layout-padding>
    <div style='max-width: 600px;'>
        <div layout-padding>
            <md-input-container class='md-block' flex-gt-xs>
                <label>標題</label>
                <input ng-model='$ctrl.post.title'></input>
            </md-input-container>
        </div>
        <md-subheader>分類圖標</md-subheader>
        <div layout='row' layout-wrap layout-padding>
            <div ng-repeat="(id, category) in $ctrl.channel.categories"
            layout='column' layout-align='center center'
            ng-click='$ctrl.selectCategory(id)'
            ng-class='{"s99-div-selected": id == $ctrl.selectedCategoryID, "s99-div-selectable": id != $ctrl.selectedCategoryID}'>
                <img class='s99-category-icon' ng-src='{{category.icon.url}}'>
                <div class='md-caption'>{{category.title}}</div>
            </div>
        </div>
        <div text-angular ng-model="$ctrl.post.content"></div>
        <div ng-bind-html="$ctrl.post.content"></div>
    </div>
    <div>
        <s99-post-item post='$ctrl.post'></s99-post-item>
        <s99-locate-map width='300' height='480' marker='$ctrl.post'></s99-locate-map>
    </div>
</div>
