<md-dialog id='s99-dialog' aria-label="Datetime Picker" ng-cloak>
<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>{{$ctrl.title}}</h2>
        <span flex></span>
        <md-button id='cancel'
        class="md-icon-button"
        ng-click="$ctrl.cancel()">
            <md-icon class="material-icons">close</md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-dialog-content layout-padding>
    <div date-picker='$ctrl.datetime'></div>
</md-dialog-content>
<md-dialog-actions layout="row">
    <span flex></span>
    <md-button id='confirm'
    class='md-primary md-raised'
    ng-click="$ctrl.confirm()">
    確定
    </md-button>
</md-dialog-actions>
</md-dialog>