<md-toolbar ng-if='$ctrl.inDialog'>
    <div class="md-toolbar-tools">
        <h2>{{$ctrl.title}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label='Close' ng-click="$ctrl.cancel()">
            <md-icon class="material-icons">close</md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-dialog-content>
<div id='s99st-image-selector' layout='column' layout-margin>
    <div layout='row' layout-padding layout-align='start center'>
        <div>
            <md-button class='md-raised' type="file"
            ngf-select="$ctrl.uploadFile($file, $invalidFiles)"
            accept="image/*" ngf-max-width="{{$ctrl.maxWidth}}" ngf-max-height="{{$ctrl.maxHeight}}"
            ngf-max-size="{{$ctrl.maxSizeMb}}MB">
                上傳圖片
            </md-button>
        </div>
        <md-progress-circular md-mode="determinate" md-diameter='36'
        ng-show='$ctrl.uploading.progress >= 0 && $ctrl.uploading.progress < 100'
        value="{{$ctrl.uploading.progress}}">
        </md-progress-circular>
        <md-progress-circular md-mode="indeterminate" md-diameter='36'
        ng-show='$ctrl.uploading.progress >= 100 && !($ctrl.uploading.success) && !($ctrl.uploading.fail)'>
        </md-progress-circular>
        <h3 style="white-space: nowrap;" class='md-title' ng-show='$ctrl.uploading.success'>上傳成功</h3>
        <h3 style="white-space: nowrap;" class='md-title' ng-show='$ctrl.uploading.fail'>上傳失敗</h3>
    </div>
    <div>
        <img ng-src='{{$ctrl.image.url}}' s99st-image-onload on-loaded='$ctrl.onChange'>
        <p ng-show='$ctrl.uploading.invalidFiles.length > 0 || $ctrl.invalid'>
            請選擇寬小於{{$ctrl.maxWidth}},高小於{{$ctrl.maxHeight}},<br>檔案大小不超過{{$ctrl.maxSizeMb}}MB的圖檔
        </p>
    </div>
    <form name='imageForm'>
        <md-input-container class='md-block'>
            <label>圖片網址</label>
            <input type='url' name='imageUrl' ng-model='$ctrl.image.url' required>
            <div ng-messages='imageForm.imageUrl.$error'>
                <div ng-message='required'>必須有圖片網址</div>
                <div ng-message='url'>無效的圖片網址</div>
            </div>
        </md-input-container>
    </form>
</div>
</md-dialog-content>
<md-dialog-actions layout="row">
    <span flex></span>
    <md-button class='md-primary md-raised' id='s99st-image-selector-confirm'
    ng-disabled='imageForm.$invalid || $ctrl.invalid'
    ng-click="$ctrl.confirm()">
    確定
    </md-button>
</md-dialog-actions>

