<md-toolbar ng-if='$ctrl.inDialog'>
    <div class="md-toolbar-tools">
        <h2>{{$ctrl.title}}</h2>
        <span flex></span>
        <md-button id='close-buttone' class="md-icon-button" aria-label='Close' ng-click="$ctrl.cancel()">
            <md-icon class="material-icons">close</md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-dialog-content>
<div id='s99st-image-selector' layout='column' layout-margin>
    <div layout='row' layout-padding layout-align='space-around center'>
        <div>
            <md-button class='md-raised md-primary'>
                <label for='input-file' style='font-size: 24px;'>上傳圖片</label>
                <input type="file" id='input-file' accept="image/*" class='ng-hide'
                ngf-select="$ctrl.uploadFile($file, $invalidFiles)"
                ngf-max-width="{{$ctrl.maxWidth}}" ngf-max-height="{{$ctrl.maxHeight}}"
                ngf-max-size="{{$ctrl.maxSizeMb}}MB">
            </md-button>
        </div>
        <div>
            <md-progress-circular class='md-hue-1' md-mode="determinate"
            ng-show='$ctrl.uploading.progress >= 0 && $ctrl.uploading.progress < 100'
            value="{{$ctrl.uploading.progress}}">
            </md-progress-circular>
            <md-progress-circular md-mode="indeterminate" md-diameter='100px'
            ng-show='$ctrl.uploading.progress >= 100 && !($ctrl.uploading.success) && !($ctrl.uploading.fail)'>
            </md-progress-circular>
        </div>
        <h3 style="white-space: nowrap;" class='md-title' ng-show='$ctrl.uploading.success'>上傳成功</h3>
        <h3 style="white-space: nowrap;" class='md-title' ng-show='$ctrl.uploading.fail'>上傳失敗</h3>
    </div>
    <div>
        <img ng-src='{{$ctrl.image.url}}' ng-show="$ctrl.image.url"
        style='max-width: 256px; max-height: 256px;'
        s99st-image-onload on-loaded='$ctrl.onLoaded' on-error='$ctrl.onError'>
        <div class='md-caption' ng-show="$ctrl.image.naturalWidth && $ctrl.image.naturalHeight">{{$ctrl.image.naturalWidth}} x {{$ctrl.image.naturalHeight}}</div>
    </div>
    <div class='s99-warn' ng-show='$ctrl.invalid'>
        請選擇寬介於{{$ctrl.minWidth}}～{{$ctrl.maxWidth}},<br>
        高介於{{$ctrl.minHeight}}～{{$ctrl.maxHeight}},<br>
        檔案大小不超過{{$ctrl.maxSizeMb}}MB的圖檔
    </div>
    <form name='imageForm'>
        <div ng-if='$ctrl.image.anchor'>
            <h5 class='s99-hint'>選擇錨點</h5>
            <md-radio-group ng-model='$ctrl.image.anchor' layout='row' layout-padding>
                <div layout='column' layout-align='center center'>
                    <img src='assets/images/marker-anchor-left.jpg'>
                    <md-radio-button value='left' aria-label='anchor-left'>靠左</md-radio-button>
                </div>
                <div layout='column' layout-align='center center'>
                    <img src='assets/images/marker-anchor-middle.jpg'>
                    <md-radio-button value='middle' aria-label='anchor-middle'>置中</md-radio-button>
                </div>
                <div layout='column' layout-align='center center'>
                    <img src='assets/images/marker-anchor-right.jpg'>
                    <md-radio-button value='right' aria-label='anchor-right'>靠右</md-radio-button>
                </div>
            </md-radio-group>
        </div>
        <md-input-container class='md-block'>
            <label>圖片網址</label>
            <input type='url' name='imageUrl' required
            placeholder="可複製貼上網址" 
            ng-model='$ctrl.image.url'
            ng-change='$ctrl.onChange();'>
            <div ng-messages='imageForm.imageUrl.$error'>
                <div ng-message='required'>必須有圖片網址</div>
                <div ng-message='url'>無效的圖片網址</div>
            </div>
        </md-input-container>
    </form>
</div>
</md-dialog-content>
<md-dialog-actions layout="row">
    <span flex></span>
    <div>
        <md-progress-circular ng-show='$ctrl.inProgress' class='s99-progress-circular' md-mode='indeterminate'></md-progress-circular>
    </div>
    <md-button class='md-primary md-raised' id='s99st-image-selector-confirm'
    ng-disabled='imageForm.$invalid || $ctrl.invalid || $ctrl.inProgress'
    ng-click="$ctrl.confirm()">
    確定
    </md-button>
</md-dialog-actions>

