<md-dialog id='yg-dialog' aria-label="Confirm" ng-cloak>
<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>{{dialogConfirmVM.title}}</h2>
        <span flex></span>
        <md-button id='s99-dialog-confirm-button-cancel'
        class="md-icon-button"
        ng-click="dialogConfirmVM.cancel()">
            <md-icon class="material-icons">close</md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-dialog-content layout-padding>
    <div ng-bind-html="dialogConfirmVM.description"></div>
</md-dialog-content>
<md-dialog-actions layout="row">
    <span flex></span>
    <md-button id='confirm'
    class='md-primary md-raised'
    ng-click="dialogConfirmVM.confirm()">
    確定
    </md-button>
</md-dialog-actions>
</md-dialog>