<form name='channelForm'>
    <div>
    <md-content layout='row' layout-wrap layout-padding>
        <div ng-style='$ctrl.$mdMedia("xs") && {"width": "320px"} || $ctrl.$mdMedia("sm") && {"width": "360px"} || $ctrl.$mdMedia("gt-sm") && {"width": "600px"}'>
            <md-input-container class='md-block' ng-if='$ctrl.action == "create"'>
                <label>ID</label>
                <input name='id' ng-model='$ctrl.channel.id' required
                ng-pattern='$ctrl.channelIDPattern'
                ng-remote-validate='/api/channels/validate-id'
                ng-remote-throttle='1000'
                ng-change="$ctrl.onChangeID()">
                <div ng-messages='channelForm.id.$error' multiple md-auto-hide="false">
                    <div id='s99st-message-channel-id-required'
                    ng-message='required'>
                        請填入頻道ID
                    </div>
                    <div id='s99st-message-channel-id-false-pattern'
                    ng-message='pattern'>
                        請填入兩個以上英文字及數字，首字必須為英文字
                    </div>
                    <div id='s99st-message-channel-id-exists'
                    ng-message='ngRemoteValidate'>
                        此ID無法使用，頻道已存在
                    </div>
                </div>
            </md-input-container>
            <md-subheader ng-if='$ctrl.action !=="create"' class='md-primary'>{{$ctrl.channel.id}}</md-subheader>
            <md-input-container class='md-block'>
                <label>名稱</label>
                <input name='title' ng-model='$ctrl.channel.title' required>
                <div ng-messages='channelForm.title.$error'>
                    <div id='s99st-message-channel-title-required'
                    ng-message='required'>請填入頻道名稱</div>
                </div>
            </md-input-container>
            <md-input-container class='md-block'>
                <label>簡介</label>
                <textarea name='description' ng-model='$ctrl.channel.description' rows='3' md-select-on-focus required></textarea>
                <div ng-messages='channelForm.description.$error'>
                    <div id='s99st-message-channel-description-required'
                    ng-message='required'>請填入頻道簡介</div>
                </div>
            </md-input-container>
            <div layout='row' layout-align='start center'>
                <div class='s99-ng-clickable' ng-click='$ctrl.assignLogo()'>
                    <img class='s99-channel-logo' ng-src='{{$ctrl.channel["logo-url"]}}'>
                </div>
                <div>
                    <md-button id='select-logo' class='md-raised'
                    ng-click='$ctrl.assignLogo()'>
                        更換 LOGO
                    </md-button>
                </div>
            </div>
            <md-subheader class='md-primary'>分類圖標</md-subheader>
            <div layout='row' layout-wrap layout-padding>
                <div ng-repeat="(id, category) in $ctrl.channel.categories"
                layout='column' layout-align='center center'
                ng-click='$ctrl.selectCategory(id)'
                style="outline: none;min-width: 64px;min-height: 64px;" 
                ng-class='{"md-whiteframe-10dp": id == $ctrl.selectedCategoryID,
                "md-whiteframe-3dp": id == $ctrl.hoveredCategoryID}'
                ng-mouseenter="$ctrl.hoveredCategoryID = id;"
                ng-mouseleave="$ctrl.hoveredCategoryID = -1;">
                    <img class='s99-category-icon' ng-src='{{category.icon.url}}'>
                    <div class='md-caption'>{{category.title}}</div>
                </div>
            </div>
            <div>
                <md-button class='md-raised md-warn'
                id='remove-all-categories'
                ng-show='$ctrl.channel.categories.length > 0'
                ng-click="$ctrl.clearCategories()">全部移除</md-button>
            </div>
            <div layout='row' layout-padding layout-align='start start'>
                <md-input-container>
                    <label>分類名稱</label>
                    <input id='category-title' name='categoryID' ng-model='$ctrl.category.title'>
                </md-input-container>
                <div class='s99-ng-clickable' id='category-icon'
                ng-click='$ctrl.selectCategoryIcon()'>
                    <img style='max-width:48px;max-height:48px;' ng-src='{{$ctrl.category.icon.url}}'>
                </div>
                <div>
                <md-button class='md-fab md-mini' id='category-add'
                ng-hide='$ctrl.selectedCategoryID'
                ng-disabled='!$ctrl.category.title'
                ng-click='$ctrl.addCategory()'>
                    <md-icon class='material-icons'>add</md-icon>
                </md-button>
                <md-button class='md-fab md-mini'
                ng-show='$ctrl.selectedCategoryID'
                ng-click='$ctrl.deleteCategory()'>
                    <md-icon class='material-icons'>close</md-icon>
                </md-button>
                </div>
            </div>
            <div>
                <md-checkbox id='checkbox-public'
                ng-model='$ctrl.public'
                aria-label='Public Channel'>公開</md-checkbox>
                <p style='overflow-wrap: break-word;' ng-show='!$ctrl.public && $ctrl.importUrl'>
                    非公開的頻道不會出現在頻道庫清單裡，<br>請複製以下連結給其他人<br>
                    {{$ctrl.importUrl}}
                </p>
            </div>
        </div>
        <!-- <div flex></div> -->
        <div id='preview'>
            <channel-item channel='$ctrl.channel'>
            </channel-item>
            <br>
            <div>
                <s99-preview-map width='320' height='480' channel='$ctrl.channel'></s99-preview-map>
            </div>
        </div>
    </md-content>
    <div layout='row'>
        <span flex></span>
        <div>
            <md-progress-circular ng-show='$ctrl.processingSubmit' class='s99-progress-circular' md-mode='indeterminate'></md-progress-circular>
        </div>
        <div>
            <md-button id='submit' class='md-primary md-raised'
            ng-disabled='channelForm.$invalid || $ctrl.processingSubmit' ng-click='$ctrl.doSubmit($ctrl.channel)'>
                確定
            </md-button>
        </div>
    </div>
    </div>
</form>