<div id='s99-account-panel'>
<md-button id='login' class='md-fab md-mini md-accent s99-ng-clickable' ng-hide='$ctrl.user'
aria-label='Log In' ng-click="$ctrl.gotoLogin()">
    <md-icon md-svg-src='assets/images/User-Interface-Login-icon.svg' style='color:white;'></md-icon>
    <md-tooltip>登入</md-tooltip>
</md-button>
<div id='user-pane' layout='row' layout-align='end center' ng-show='$ctrl.user'>
    <h4>{{$ctrl.user.name}}</h4>
    <div ng-show='$ctrl.user.avatar' style='margin:2px 5px;'>
        <img ng-src='{{$ctrl.user.avatar}}' style='border-radius: 50%;'/>
    </div>
    <div ng-show='!$ctrl.user.avatar'>
        <md-button class='md-fab md-mini md-accent s99-ng-clickable'
        aria-label='Account'>
            <md-icon class='material-icons'>account_circle</md-icon>
        </md-button>        
    </div>
    <div>
        <md-button class='md-fab md-mini md-warn s99-ng-clickable'
        aria-label='Log Out' ng-click="$ctrl.gotoLogout()">
            <md-icon md-svg-src='assets/images/User-Interface-Logout-icon.svg' style='color:white;'></md-icon>
            <md-tooltip>登出</md-tooltip>
        </md-button>
    </div>
</div>
</div>