<div id='s99-account-panel'>
<md-button id='login' class='md-fab md-mini md-accent s99-ng-clickable' ng-hide='$ctrl.user'
aria-label='Log In' ng-click="$ctrl.gotoLogin()">
    <md-icon md-svg-src='assets/images/User-Interface-Login-icon.svg' style='color:white;'></md-icon>
    <md-tooltip>登入</md-tooltip>
</md-button>
<div id='user-pane' layout='row' layout-align='end center' ng-show='$ctrl.user'>
    <!-- <h4>{{$ctrl.user.name}}</h4> -->
    <md-button ng-if='::($ctrl.$mdMedia("gt-xs"))' ng-href="/profile/my-channels">我的頻道</md-button>
    <md-button ng-if='::($ctrl.$mdMedia("gt-xs"))' ng-href="/profile/my-posts">我的文章</md-button>
    <div ng-show='$ctrl.avatar' style='margin:2px 5px;'>
        <a ng-href='/profile'>
            <img ng-src='{{$ctrl.avatar}}' style='border-radius: 50%;'/>
            <md-tooltip>個人頁面</md-tooltip>
        </a>
    </div>
    <div ng-show='!$ctrl.avatar'>
        <md-button class='md-fab md-mini md-accent s99-ng-clickable'
        aria-label='Account' ng-href='/profile'>
            <md-icon class='material-icons'>account_circle</md-icon>
            <md-tooltip>個人頁面</md-tooltip>
        </md-button>        
    </div>
    <div>
        <md-button class='md-fab md-mini md-warn s99-ng-clickable'
        aria-label='Log Out' ng-click="$ctrl.gotoLogout()">
            <md-icon md-svg-src='assets/images/User-Interface-Logout-icon.svg' style='color:white;'></md-icon>
            <md-tooltip>登出</md-tooltip>
        </md-button>
    </div>
</div>
</div>